@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
    font-family: 'Poppins', sans-serif;
}

html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}

html:not([data-scroll="0"]) .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white !important;
    opacity: 1.9;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
    transition: 0.4s linear;
    padding: 0px !important;
    z-index: 3;
}

.leafbutton {
    border-radius: 0px 30px 30px 40px;
}

.banner-image {
    background-image: var(--banner-bg-image, url('/assets/banner/shapes.svg'));
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

hr {
    border-color: rgba(196, 196, 196, 0.65);
}

.w-270 {
    width: 270px;
}


@media screen and (min-width :1000px) {
    .lh-96 {
        line-height: 96px !important;
    }

    .lh-81 {
        line-height: 81px !important;
    }

    .lh-33 {
        line-height: 33px !important;
    }
}

.bg-image-what {
    background-image: var(--clientsay-bg-image, url('/assets/clientsay/bgimage.svg'));
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Footer */

.footer-icons {
    box-shadow: 0px 19px 28px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer-icons {
    transition: .5s;
}

.footer-icons:hover {
    transform: translateY(-8px);
}

.footer-fb-icons {
    box-shadow: 0px 19px 28px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    padding: 10px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-fb-icons {
    transition: .5s;
}
.footer-fb-icons:hover {
    transform: translateY(-8px);
}

.space-links {
    transition: .3s;
}

.space-links:hover {
    letter-spacing: 1px;
}

.signin-modal{
    backdrop-filter: blur(11px);
    background: #ffffff36;
}

/* From Uiverse.io by Yaya12085 */ 
.custum-file-upload {
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin: 0 auto;
  gap: 20px;    
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}